/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* #endregion RESET*/

/* #region TYPOGRAPHY*/

body {
    font-family: 'Open Sans', sans-serif;
}

/* Tavolozza colori */
:root {
    --blue: #0061ff;
    --light-blue: #1e73fc;
    --sky: #b4d0e7;
    --bordeaux: #61082b;
    --gray: #999999;
    --light-gray: #f5f5f5;
}

/* /Tavolozza colori */


h1 {
    font-size: 77px;
    font-weight: 800;
}

/* #endregion TYPOGRAPHY*/

/* #region COMMON*/

.flex {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;

}

header li {
    list-style: none;
    height: 80px;
    display: flex;
    align-items: center;
}

header li:hover {
    border-bottom: 2px solid black;
    padding-top: 2px;
}

nav .col-left,
nav .col-right,
.info-links ul,
.support-links ul {
    gap: 42px;

}

nav .col-left,
nav .col-right {
    width: 50%;
}

.btn {
    background-color: var(--blue);
    color: white;
    padding: 9px 17px;
    border: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--light-blue);
}

.container-small {
    width: 1200px;
}


/* #endregion COMMON*/

/* #region HEADER*/

header {
    background-color: var(--sky);
}

header nav {
    background-color: white;
    padding: 0 20px;
    height: 80px;
    justify-content: space-between;
    border-bottom: 2px solid var(--light-gray);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}


nav .col-right {
    justify-content: flex-end;
}


.head-start-button {
    margin-left: 25px;
}

.head-start-button:hover {
    border: none !important;
    padding-top: 0px;
}


.jumbotron {
    padding-top: 158px;
    height: 816px;
    margin: 0 auto;
    background-color: var(--sky);
}

.inside-jumbo {
    align-items: flex-start;
    padding-top: 49px;
}

.inside-jumbo .col-left {
    width: 360px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

}

.inside-jumbo .col-left .fa-arrow-down {
    padding-top: 42px;
    font-size: 48px;
}



.inside-jumbo .col-right {
    width: 840px;
}

.inside-jumbo .col-right img {
    width: 100%;
}

.btn.trial {
    padding: 11px 17px;
}

/* #endregion HEADER*/

/* #region MAIN*/

/* #endregion MAIN*/

/* #region FOOTER*/

/* #endregion FOOTER*/