/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

/* #endregion RESET*/

/* #region TYPOGRAPHY*/

body {
    font-family: 'Open Sans', sans-serif;
}

/* Tavolozza colori */
:root {
    --blue: #0061ff;
    --light-blue: #1e73fc;
    --sky: #b4d0e7;
    --bordeaux: #61082b;
    --gray: #999999;
    --light-gray: #f5f5f5;
}

/* /Tavolozza colori */


h1 {
    font-size: 77px;
    font-weight: 800;
}

h2 {
    font-size: 40px;
}

/* #endregion TYPOGRAPHY*/

/* #region COMMON*/

.flex {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;

}

header li {
    list-style: none;
    line-height: 80px;
    display: flex;
    align-items: center;
}


nav .col-left,
nav .col-right {
    width: 50%;
}

nav .logo {
    padding-right: 20px;
}

nav .sign-up {
    padding: 0 20px;
}

.info-links ul li,
.support-links ul li {
    padding: 0 20px
}

header li:hover {
    border-bottom: 2px solid black;
    padding-top: 2px;
}

.btn {
    background-color: var(--blue);
    color: white;
    padding: 9px 17px;
    border: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--light-blue);
}

.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

/* #endregion COMMON*/

/* #region HEADER*/

header {
    background-color: var(--sky);
}

header nav {
    background-color: white;
    padding: 0 20px;
    height: 80px;
    justify-content: space-between;
    border-bottom: 2px solid var(--light-gray);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}


nav .col-right {
    justify-content: flex-end;
}




.head-start-button:hover {
    border: none !important;
    padding-top: 0px;
}


.jumbotron {
    padding-top: 80px;
    position: relative;
    bottom: -80px;

}

.inside-jumbo {
    align-items: flex-start;
    padding-top: 49px;
}

.inside-jumbo .col-left {
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

}

.inside-jumbo .col-left .fa-arrow-down {
    padding-top: 42px;
    font-size: 48px;
}

.inside-jumbo .col-right {
    width: 70%;
}

.inside-jumbo .col-right img {
    width: 100%;
}

.btn.trial {
    padding: 11px 17px;
}

/* #endregion HEADER*/

/* #region MAIN*/

main .plans {
    padding-top: 150px;
}

.select-plan {
    gap: 40px;
    font-size: 15px;
    padding-top: 60px;
}

.plan-header {
    text-align: center;
}

.plans-column,
.plan-body {
    flex-direction: column;
    align-items: flex-start;

}

hr {
    width: 200px;
}

.plan-body {
    gap: 20px;
}

/* #endregion MAIN*/

/* #region FOOTER*/

/* #endregion FOOTER*/

/* #region RADIO*/

.yearly-plan .fa-circle,
.monthly-plan .fa-circle-dot {
    cursor: pointer;
    margin-right: 5px;

}

.yearly-plan .fa-circle {
    color: var(--gray);

}

.monthly-plan .fa-circle-dot {
    color: var(--blue);

}

/* #endregion RADIO*/