/* #region RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

li {
    list-style: none;
}

a {
    color: var(--blue);
}

/* #endregion RESET */

/* #region TYPOGRAPHY */

body {
    font-family: 'Open Sans', sans-serif;
}

/* Tavolozza colori */

:root {
    --blue: #0061ff;
    --light-blue: #1e73fc;
    --sky: #b4d0e7;
    --bordeaux: #61082b;
    --gray: #999999;
    --light-gray: #f5f5f5;
    --border-gray: #d0d0d3;
    --duration-gray: #66686b;
    --design-it-secondary: #d1e9cd;
    --design-it-primary: #a2d39b;
    --uf: #0093ce;
    --topps: #ff1c1c;
    --design-it-center: #f5f5f5;
    --wbr: #d5001f;
    --hearst: #b4d0e7;
    --lp: #0d2481;
    --cco: #ffd830;

}

/* Titoli ed elementi grafici */


h1 {
    font-size: 77px;
    font-weight: 800;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

hr {
    width: 50px;
    height: 1px;
    background-color: var(--border-gray);
    border: none;
}

/* #endregion TYPOGRAPHY */

/* #region COMMON */

/* Utility */

.flex,
.row {
    display: flex;
}

.grid {
    gap: 50px;
    flex-wrap: wrap;
}

.container-huge {
    max-width: 1920px;
    margin: 0 auto;
}

.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

/* Header common */

header a {
    text-decoration: none;
    color: black;
}

header li {
    list-style: none;
    line-height: 80px;
    display: flex;
    align-items: center;
}

nav .col-left,
nav .col-right {
    width: 50%;
    align-items: center;
}

.info-links ul li,
.support-links ul li {
    padding: 0 20px
}

header li:hover {
    border-bottom: 2px solid black;
    padding-top: 2px;
}

/* Main common */

/* Plans */

.plans-column,
.plan-body {
    flex-direction: column;
}

.plan-features-list,
.plan-recap-list ul {
    flex-direction: column;
    gap: 22px;
}

.plan-features-list span,
.plan-recap-list li span {
    margin-top: -2px;
}

/* Customers-reviews */

.customers-reviews .grid .col-left,
.customers-reviews .grid .col-center,
.customers-reviews .grid .col-right {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    flex-wrap: wrap;
}

/* Button common */

.btn {
    background-color: var(--blue);
    color: white;
    padding: 11px 17px;
    border: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--light-blue);
}

/* #endregion COMMON */

/* #region HEADER */

header {
    background-color: var(--sky);
}

header nav {
    background-color: white;
    padding: 0 20px;
    height: 80px;
    justify-content: space-between;
    box-shadow: 0 1px 2px rgb(184, 184, 184);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}

nav .col-right {
    justify-content: flex-end;
}

nav .logo {
    padding-right: 20px;
    justify-content: center;
}

nav .sign-up {
    padding: 0 20px;
}

nav .btn {
    padding: 9px 17px;
}

.head-start-button:hover {
    border: none !important;
    padding-top: 0px;
}

/* #endregion HEADER */

/* #region MAIN */

/* #region jumbotron */

.jumbotron-section {
    background-color: var(--sky);
}

.jumbotron {
    padding-top: 80px;
    position: relative;
    bottom: -80px;
}

.inside-jumbo {
    padding-top: 49px;
}

.inside-jumbo .col-left {
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.inside-jumbo .col-left .fa-arrow-down {
    padding-top: 42px;
    font-size: 48px;
}

.inside-jumbo .col-right {
    width: 70%;
}

.inside-jumbo .col-right img {
    width: 100%;
}

.btn.trial {
    padding: 11px 17px;
}

/* #endregion jumbotron */

/* #region plans */

main .plans {
    padding-top: 150px;
}

.select-plan {
    gap: 40px;
    font-size: 15px;
    padding-top: 60px;
}

main .plans .grid {
    padding-top: 55px;
}

.plans-column {
    font-size: 14px;
    width: calc((100% - 100px) / 3);
    border: 1px solid var(--border-gray);
    min-height: 100%;
}

.plan-header {
    text-align: center;
    border-bottom: 1px solid var(--border-gray);
    padding: 10px;
}

.plan-body {
    padding: 30px;
}

.plans-column .fa-solid {
    padding-right: 6px;
}

.plan-price {
    font-weight: bold;
    margin-top: -5px;
}

.plan-duration {
    color: var(--duration-gray);
    margin-top: -11px;
}

.plan-features-list {
    padding: 33px 0;
}

.plan-body hr {
    margin-top: 19px;
}

.plan-body {
    gap: 20px;
}

.plan-body .btn {
    width: 100%;
}

.plan-buy-now {
    margin-top: 10px;
}

.plan-recap-list {
    margin-top: 30px;
}

.plan-recap-list ul {
    margin-top: 33px;
    gap: 20px;
}

.plan-recap-list li {
    align-items: flex-start;
}

.fa-check {
    color: var(--blue);
    font-weight: bold;
}

.plans-column.row {
    min-width: 100%;
    margin-top: 50px;
}

.plan-body.row {
    flex-direction: row;
}

.plan.col-left {
    width: 74%;
    flex-direction: column;
}

.plan.col-left .plan-price {
    margin-top: 15px;
}

.plan.col-left .team-feature {
    padding-right: 20px;
    padding-top: 50px;
}

.plan.col-right {
    width: 27%;
}

/* #endregion plans */

/* #region find-a-partner */

.find-a-partner {
    margin-top: 150px;
}

.find-a-partner .col-left {
    width: 60%;
}

.find-a-partner .col-right {
    width: 40%;
    padding: 50px;
}

.find-a-partner .col-right p {
    padding-top: 13px;
}

.find-a-partner .col-right .btn {
    background-color: white;
    color: black;
    border: 1px solid black;
    width: max-content;
    margin-top: 30px;
}

/* #endregion find-a-partner */

/* #region multitask */

.multitask {
    margin-top: 156px;
}

.multitask .grid {
    margin-top: 62px;
}


.multitask-element {
    width: calc((100% - 100px) / 3);
}

.multitask-element p {
    margin-top: 32px;
}

/* #endregion multitask */

/* #region customers-reviews */

.customers-reviews {
    margin-top: 195px;
}

.customers-reviews .container-small .box {
    width: 70%;
}

.customers-reviews .call-to-action {
    padding-top: 60px;
}

.customers-reviews .grid {
    margin-top: 150px;
    gap: 0;
}

.customers-reviews .grid .element {
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.element img {
    width: 47%;
}

.col-left .element.design-it {
    background-color: var(--design-it-primary);
    box-shadow: inset 0px 0px 0px 15px var(--design-it-secondary);
}

.col-left .element.asu {
    background-color: var(--bordeaux);
}

.col-left .element.uf {
    background-color: var(--uf);
}

.col-left .element.topps {
    background-color: var(--topps);
}

.col-right .element.wbr {
    background-color: var(--wbr);
}

.col-right .element.hearst {
    background-color: var(--hearst);
}

.col-right .element.lp {
    background-color: var(--lp);
}

.col-right .element.cco {
    background-color: var(--cco);
}

.col-center .element.design-it {
    width: 100%;
    height: 100%;
    background-color: var(--design-it-center);
    overflow: auto;

}

.col-center .element.design-it img {
    width: 50%;
}

.grid .col-center .element.design-it {
    padding: 50px;
}

.col-center hr {
    width: 108px;
    margin-top: 45px;
}

.col-center p {
    margin-top: 42px;
}

.col-center span {
    display: inline-block;
    margin-top: 48px;
}

.col-bottom {
    width: 100%;
    background-color: var(--hearst);
    padding: 125px 0;
}

.col-bottom h2 {
    color: var(--bordeaux);
}

.col-bottom .btn {
    padding: 11px 50px;
    color: black;
    background-color: white;
    margin-top: 10px;
    margin-left: 4px;
}

.col-bottom .container-small .col-left {
    width: 50%;
}

.col-bottom .container-small .col-right {
    text-align: end;
    width: 50%;
}

/* #endregion customers-reviews */

/* #region faq */

.faq {
    margin-top: 150px;
    margin-bottom: 150px;
}

.faq .section-title {
    padding-bottom: 58px;
}

.faq hr {
    width: 100%;
}

.faq .question-container {
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    flex-wrap: wrap;
}

.faq .question {
    padding: 20px 0;
}

.faq .fa-chevron-down {
    font-size: 12px;
    padding-right: 45px;
}

.faq .faq-answer {
    display: none;
    padding-bottom: 20px;
}

.question-container:hover .faq-answer {
    display: block;
}

.question-container:hover .fa-chevron-down {
    transform: scaleY(-1);
}

/* #endregion faq */

/* #endregion MAIN */

/* #region FOOTER */

footer {
    background-color: black;
    color: white;
}

footer .grid {
    padding: 100px 0 113px;
    justify-content: space-between;
}

.footer .grid .column {
    width: calc(100% / 5);
}

footer .grid ul {
    flex-direction: column;
    gap: 15px;
    margin-top: 29px
}

footer .grid ul li a {
    text-decoration: none;
    color: white;
}

footer hr {
    width: 120px;
}

footer .language-selection {
    padding: 50px 0;
    color: var(--gray)
}

footer .language-selection .current-language {
    padding-left: 5px;
}

footer .language-selection .fa-caret-up {
    vertical-align: middle;
    color: var(--gray);
}

/* #endregion FOOTER */

/* #region RADIO */

.yearly-plan .fa-circle,
.monthly-plan .fa-circle-dot {
    cursor: pointer;
    padding-right: 5px;
}

.yearly-plan .fa-circle {
    color: var(--border-gray);
}

.monthly-plan .fa-circle-dot {
    color: var(--blue);
}

/* #endregion RADIO */

/* #region LOGIN */

/* Common */

.dashboard .col-left,
.dashboard .col-right {
    padding: 50px;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard .col-right .input-email input,
.dashboard .col-right .input-password input {
    border: none;
    width: 100%;
    padding-bottom: 5px;
    outline: none;
    font: inherit;
}

.dashboard .input-email,
.dashboard .input-password {
    width: 100%;
    padding: 6px;
    border-bottom: 1px solid var(--border-gray);
}

.dashboard .fa-user,
.dashboard .fa-key,
.dashboard .fa-eye-slash {
    padding-bottom: 5px;
}


/* Dashboard */

.dashboard {
    width: 100%;
    font-size: 14px;
    border: 1px solid var(--border-gray);
    border-radius: 15px;
}

.login-signup {
    padding: 180px 30px;
    min-height: calc(100vh - 568px);
}

/* Colonna sinistra */

.dashboard .col-left .image-container {
    width: 70%;
    position: relative;
}

.dashboard .col-left .btn {
    background-color: gold;
    color: black;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 0 10px gold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    filter: blur(20px);
    transition: opacity 1s, filter 0.3s;
}

.image-container .illustration {
    transition: filter 1s;
}

.dashboard .col-left .image-container:hover .btn {
    opacity: 1;
    filter: blur(0px);
    animation: rotation 1s ease-in-out infinite;
}

.dashboard .col-left .image-container:hover .illustration {
    filter: blur(20px);
}

.dashboard .hint {
    color: var(--border-gray);
    font-size: 12px;
    padding-top: 10px;
}

.dashboard .col-left a {
    color: black;
    text-decoration: none;
}

/* Separatore */

.dashboard hr {
    width: 1px;
    height: 400px;
    align-self: center;
}

/* Colonna destra */

.dashboard .col-right {
    padding: 50px 100px;
    align-items: flex-start;
    gap: 20px;
}

.dashboard .col-right h2 {
    padding-bottom: 20px;
}

.dashboard .fa-key {
    padding-right: 15px;
}

.dashboard .fa-user {
    padding-right: 17px;
}

.dashboard .fa-eye-slash {
    text-align: end;
    cursor: pointer;
}

.dashboard .fa-eye-slash:hover {
    color: var(--blue);
    animation: eye-rotation 1s ease-in-out infinite;
}

.dashboard .col-right .remember-me {
    padding-top: 15px;
    padding-left: 6px;
}

.dashboard .col-right .remember-me span {
    padding-left: 16px;
}

.dashboard .col-right .log-in {
    padding: 11px 35px;
    margin-top: 15px;
}

.alternative-login {
    margin-top: 50px;
    align-items: center;
    gap: 20px;
}

.alternative-login span {
    color: gray;
}

.alternative-login i {
    font-size: 20px;
}

/* #endregion LOGIN */

/* #region ANIMATIONS */


@keyframes rotation {
    0% {
        transform: translate(-50%, -50%) rotate(2deg)
    }

    50% {
        transform: translate(-50%, -50%) rotate(-2deg)
    }


    100% {
        transform: translate(-50%, -50%) rotate(2deg)
    }
}

@keyframes eye-rotation {
    0% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(10deg)
    }

    75% {
        transform: rotate(-10deg)
    }


    100% {
        transform: rotate(0deg)
    }
}

/* #endregion ANIMATIONS */